.fac_icon_add{background-image:url(../images/icons/fam/add.png) !important;}
.fac_icon_edit{background-image:url(../images/icons/fam/page_white_edit.png) !important;}

.win_modulo_default{background-image:url(../images/icons/definidos/grid48x48.png) !important;}
