.ux-desktop-panel-shortcut{
    float:left;
    width:100px;
    height: 120px;
}
.x-tab-icon-el{
    display:inline !important;
}
.x-btn-icon-el{
    display:inline !important;
}
/*Boton de file cargar archivo */

/*toolbar*/
.x-toolbar-default{
    padding: 0;
}
.x-toolbar-footer{
    padding: 0;
}
.x-btn-plain-toolbar-small-icon .x-btn-icon-el{
    width: 16px;
    height: 16px;
}
.x-btn-plain-toolbar-small-icon .x-btn-inner{
    width: 16px;
    height: 16px;    
}
.x-toolbar .x-btn{
    padding-right: 0px;
    padding-left: 0px;
}

/*icons
Se carca un solo icono de 48px y despues se 
acomoda a cualquier necesidad
background-size css3
*/
.x-menu-item-icon{
    background-size: 23px;
}
.x-window-header-icon{
    background-size: 16px;
}
.x-btn-icon-el{
    background-size: 16px;
}


/*elements fac*/
.fac-btn{
    /*color:rgb(119, 119, 119);*/
    color:white;
}

.fac-btn-primary{
    background-color: #337ab7 !important;
    border:1px solid #2e6da4;
}
.fac-btn-primary:hover,.fac-btn-primary.x-btn-default-small-over{
    background-color: #286090 !important;
    border-color: #204d74 !important;
}

.fac-btn-success{
    background-color: #5cb85c !important;
    border:1px solid #4cae4c;
}
.fac-btn-success:hover,.fac-btn-success.x-btn-default-small-over{
    background-color: #449d44 !important;
    border-color: #398439 !important;
}

.fac-btn-info{
    background-color: #5bc0de !important;
    border:1px solid #46b8da;
}
.fac-btn-info:hover,.fac-btn-info.x-btn-default-small-over{
    background-color: #31b0d5 !important;
    border-color: #269abc !important;
}

.fac-btn-warning{
    background-color: #f0ad4e !important;
    border:1px solid #eea236;
}
.fac-btn-warning:hover,.fac-btn-warning.x-btn-default-small-over{
    background-color: #ec971f !important;
    border-color: #d58512 !important;
}

.fac-btn-danger{
    background-color: #d9534f !important;
    border:1px solid #d43f3a;
}
.fac-btn-danger:hover,.fac-btn-danger.x-btn-default-small-over{
    background-color: #c9302c !important;
    border-color: #ac2925 !important;
}
/*sizes fac-btn*/
.btn-size-tiny .x-btn-inner-center{
    line-height: 15px !important; 
    font-size:13px;
}

/*patch*/
.fac-btn .x-btn-inner-center{
    /*color:rgb(119, 119, 119) !important;*/
    color:white !important;
}

/*label*/
.label{
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;    
}

.label-default {
    background-color: #777;
}

.label-primary {
    background-color: #337ab7;
}

.label-success {
    background-color: #5cb85c;
}

.label-info {
    background-color: #5bc0de;
}

.label-warning {
    background-color: #f0ad4e;
}

.label-danger {
    background-color: #d9534f;
}

input {
    text-transform: uppercase;
}

textarea{
    text-transform: uppercase;
}

/*patch tabpanel*/
/*
.x-box-scroller-right{
    width:30px;
    height:30px;
}
.x-box-scroller-left{
    width:30px;
    height:30px;
}
*/