<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="jdbcTypeForNull" value="NULL" />
    </settings>    
  <mappers>
      <!--
  	<mapper resource="PROD.xml" />
        <mapper resource="TIPO_FACT.xml" />
        <mapper resource="PERF.xml" />
       -->
       <!--<mapper resource="USUA.xml" />
       <mapper resource="PERF.xml" />-->
  </mappers>
</configuration> 